* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position:bottom right, left;
}
/* header and navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-left: 50px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.btn-primary {
    color: white;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    border: 0;
    border-radius: 5px;
    background: #FD6E0A;
    padding: 18px 35px;
}

/* banner styles    */
.banner {
    margin: 0 100px 0 200px;
    display: flex;
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner-subtitle {

    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
}

.banner-discription{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
/* main section style */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about section style */
.about{
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding:130px 150px;

}
.section-title{
    text-align: center;
    margin-bottom: 30px;

}

.section-description{
    font-size: 18px;
    color: #757575;
    text-align: center;
    margin-bottom: 30px;
}