* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

/* header and navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-left: 50px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.btn-primary {
    color: white;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    border: 0;
    border-radius: 5px;
    background: #FD6E0A;
    padding: 18px 35px;
}

/* banner styles    */
.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner-subtitle {

    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
}

.banner-discription{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}